.card-portfolio {
  position: relative;
  width: 400px;
  height: 360px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

/* Remove underline from Gatsby Link */
.portfolio-all a {
  text-decoration: none !important;
  color: inherit;
}

.card-image {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-portfolio-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  transition: background-color 1.4s ease-in-out;
}

#card-title {
  font-size: 38px;
  z-index: 3;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.portfolio-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
}

/* Hover Effect: Dark -> Transparent */
@media (min-width: 980px) {
  .card-portfolio:hover .card-portfolio-opacity {
    background-color: #F7F1EE;
  }
}

@media (max-width: 980px) {
  .card-portfolio {
    width: 90vw;
    height: 300px;
    margin: 10px auto;
  }
  
  #card-title {
    font-size: 28px;
  }
  
  .card-portfolio-opacity {
    background-color: rgba(255, 255, 255, 0.6);
  }
}