.navbar {
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
  max-width: 100vw;
  font-size: 18px;

  > * {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
    padding: 10px;
    cursor: pointer;
  }
  > *:hover {
    border-radius: 10px;
    font-weight: bold;
    transition: border-width 0.6s linear;
  }
  .active {
    color: var(--color-primary);
  }
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  top: 20px;
  margin-top: 20px;
  z-index: 10;
  border-radius: 10px;

  > * {
    margin: 0 10px;
    cursor: pointer;
    font-weight: normal;
    padding: 4px;
  }

  > *:hover {
    color: black;
    font-weight: bold;
    background-color: aliceblue;
  }
}

.dropdown2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  background-color: #f7f1ee;
  border-radius: 5px;
  align-items: center;
  font-weight: normal;
  min-width: 200px;
  margin: auto;
  border: 1px solid rgb(58, 55, 55);

  > *:hover {
    font-weight: bold;
    background-color: aliceblue;
  }
  > * {
    padding: 5px;
  }
}

.title-opacity {
  color: black;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15); /* Lighter, more transparent border */
    border-radius: 50%;
    margin: 0 10px; /* Spacing between buttons */
    transition: all 0.3s ease;
    background-color: transparent;
    color: #333;
}

.back-btn:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.back-btn svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: fill 0.3s ease;
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-load {
  animation: fadeIn 1.5s ease-in-out;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

@media (max-width: 768px) {
  .navbar > * {
    margin: 0 4px 0 7px;
  }
  .padding-sm > * {
    padding: 0 48px;
  }
}
